.app {
  background-color: #E5BA73;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
}

body {
  background-color: #FAEAB1;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: #472D2D;
}

.crossed {
  text-decoration: line-through 2px rgb(46, 45, 45);
  background-color: #ecc19c;
  font-style: italic;
  color: grey;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: rgb(46, 45, 45);
  -webkit-text-decoration-thickness:2px;
}

ol, li {
  padding: 5px;
  margin-left: 15px;
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-weight: bold;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}


.btn-add {
  background: #4E944F;
  margin-top: 5px;
  font-weight: bold;
}

.btn-delete {
  background: #D9534F;
  margin-bottom: 5px;
  font-weight: bold;
}

.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Roboto Mono', monospace;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Roboto Mono', monospace;
}

img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}